h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 8.4rem;
    font-weight: 700;
}

h3 {
    font-size: 3.6rem;
}

h4 {
    font-size: 2.2rem;
}

h5 {
    text-transform: uppercase;
    color: $primary-color;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1.8px;
}

p {
    color: #7d7d7d;
    line-height: 1.8;
    font-size: 2rem;
}

.text {
    &--smaller {
        font-size: 1.2rem;
    }
    
    &--small {
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.6;
    }

    &--medium {
        font-size: 1.6rem;
        line-height: 1.6;
    }
}