<section class="hero hero--inner">
    <div class="container">

        <h5 class="hero__title--small" translate="heroTitleSmall"></h5>
        <h2 class="hero__title" translate="heroTitleInner"></h2>
        <!-- <span class="hero__title--smallest js-text-change">Šobrīd tiek meklēti eksperti dažādās jomās..</span> -->
        <div class="clear"></div>
        <a class="button mt35" href="/list"><span translate="heroBtn"></span></a>

    </div>
</section>

<section class="list" ng-controller="list">

    <div class="list__search">
        <div class="container">

            <label for="search" translate="listSearch"></label>
            <input type="text" id="search" ng-model="search" class="input mlr15">

            <label for="category" translate="listCategory"></label>
            <select ng-model="category" class="select ml15" name="" id="category">
                <option value="" translate="listAll"></option>
                <option ng-repeat="category in list[lang]" value="{{category.name}}">{{category.name}}</option>
            </select>

            <a ng-click="search = ''; category = ''" class="text--small ml10" href="#">Clear</a>

        </div>
    </div>

    <div class="container">

        <div class="mt20">
            <div ng-repeat="(categoryIndex, category) in list[lang] | filter: {name: category}" class="row mb40">

                <div class="col-12 mb20">
                    <h3>{{category.name}}</h3>

                    <div ng-show="(category.experts | filter:search).length === 0" class="mt15">
                        <p class="text--smaller" translate="listNothingFound"></p>
                    </div>
                </div>

                <div ng-repeat="(expertIndex, expert) in category.experts | filter:search" class="col-md-12 list__item mb30">
                    <div class="list__item__image" style="background-image: url({{expert.image || defaultImageSrc}})"></div>

                    <div class="list__item__text">

                        <div class="list__item__text__headings">

                            <div>
                                <h6>{{expert.name}} <span class="text--smaller">{{expert.lang ? '(' + expert.lang + ')': null}}</span></h6>
                                <h5 class="mtb10"><a class="text--link" href="/list/{{categoryIndex}}/{{expertIndex}}">{{expert.career}}</a></h5>
                            </div>

                            <div>
                                <ul class="stars">
                                    <li ng-repeat="star in expert.stars | loop" class="stars__star"><i class="fa fa-star"></i></li>
                                    <li ng-show="expert.stars % 1 !== 0" class="stars__star"><i class="fa fa-star-half-o"></i></li>
                                    <li ng-repeat="star in (5 - expert.stars) | loop" class="stars__star"><i class="stars__star--o fa fa-star-o"></i></li>
                                </ul>

                                <span class="text--smaller">({{expert.ratings}})</span>
                            </div>

                        </div>

                        <p class="text--medium mb10">{{expert.desc | limitTo: 160}}{{expert.desc.length > 160 ? '...' : null}}</p>

                        <p ng-show="expert.desc2" class="text--small list__item__text__desc-small">{{expert.desc2 | limitTo:160}}{{expert.desc2.length > 160 ? '...' : null}}</p>

                        <a href="/list/{{categoryIndex}}/{{expertIndex}}" class="button button--small button--fill" translate="listReadMore"></a>

                        <a href="/order/{{categoryIndex}}/{{expertIndex}}" class="button button--small button--fill">Speak 30min</a>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>