<section class="hero">
    <div class="container">

        <h5 class="hero__title--small">Ir jautājumi par noteiktu sfēru?</h5>
        <h2 class="hero__title">Parunā ar ekspertu</h2>
        <!-- <span class="hero__title--smallest js-text-change">WEB Programmētāju</span> -->
        <span class="hero__title--smallest js-text-change">Un saņem nenovērtējamu pieredzi</span>
        <div class="clear"></div>
        <a class="button mt35" href="/list"><span>Skatīt ekspertus</span></a>

    </div>
</section>

<section class="about">
    <div class="container">

        <h5>I-Konsultācijas</h5>

        <h1 class="mtb25">Kam ir aktuāla saruna ar ekspertu?</h1>

        <p>Cilvēkam, kurš plāno strādāt jaunā sfērā vai uzskākt biznesu, bieži vien rodas jautājumi, kurus gribētu uzdot cilvēkam, kas kaut ko sasniedza noteiktā sfērā. Šim nolūkam tika izveidots i-konsultācijas portāls.</p>

    </div>
</section>