<section class="hero">
    <div class="container">

        <h5 class="hero__title--small" translate="heroTitleSmall"></h5>
        <h2 class="hero__title" translate="heroTitle"></h2>
        <!-- <span class="hero__title--smallest js-text-change">WEB Programmētāju</span> -->
        <span class="hero__title--smallest js-text-change" translate="heroSpan"></span>
        <div class="clear"></div>
        <a class="button mt35" href="/list"><span translate="heroBtn"></span></a>

    </div>
</section>

<section class="about">
    <div class="container">

        <h5 translate="aboutSpan"></h5>

        <h1 class="mtb25" translate="aboutTitle"></h1>

        <p translate="aboutDesc"></p>

    </div>
</section>