<section class="hero hero--inner">
    <div class="container">

        <h5 class="hero__title--small" translate="heroTitleSmall"></h5>
        <h2 class="hero__title"><span translate="heroExpert"></span> - {{expert.name}}</h2>
        <!-- <span class="hero__title--smallest js-text-change">Šobrīd tiek meklēti eksperti dažādās jomās..</span> -->
        <div class="clear"></div>
        <a class="button mt35" href="/list"><span translate="heroBtn"></span></a>

    </div>
</section>

<section class="list list--show">
    <div class="container">
        <div class="row">

            <div class="col-md-12 mb20">
                <a href="/list" class="button button--fill button--small" translate="showBack"></a>
            </div>

            <div class="col-md-12 list__item mb30">
                <div class="list__item__image" style="background-image: url({{expert.image || defaultImageSrc}})"></div>

                <div class="list__item__text">

                    <div class="list__item__text__headings">

                        <div>
                            <h6>{{expert.name}} <span>{{expert.lang ? '(' + expert.lang + ')': null}}</span></h6>
                            <h5 class="mtb10">{{expert.career}}</h5>
                        </div>

                        <div>
                            <ul class="stars">
                                <li ng-repeat="star in expert.stars | loop" class="stars__star"><i class="fa fa-star"></i></li>
                                <li ng-show="expert.stars % 1 !== 0" class="stars__star"><i class="fa fa-star-half-o"></i></li>
                                <li ng-repeat="star in (5 - expert.stars) | loop" class="stars__star"><i class="stars__star--o fa fa-star-o"></i></li>
                            </ul>

                            <span>({{expert.ratings}})</span>
                        </div>

                    </div>

                    <p>{{expert.desc}}</p>

                    <p ng-show="expert.desc2" class="desc--small">{{expert.desc2}}</p>

                    <!-- <a href="/list" class="button button--fill button--small" translate="showBack"></a> -->

                    <a href="/order/{{categoryIndex}}/{{expertIndex}}" class="button button--fill button--small" translate="showOrder"></a>

                    <div class="mt40">
                        <table class="table">
                            <tr>
                                <td></td>
                                <td>30min</td>
                                <td>45min</td>
                            </tr>
                            <tr>
                                <td>Cena</td>
                                <td><b>4.49€</b></td>
                                <td>6.49€</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- TODO: Add section with 'Kā tas strādā?', '' -->

            </div>

        </div>
    </div>
</section>

<section class="about">
    <div class="container">

        <h5>Saņem nenovērtējamu pieredzi IT nozarē</h5>

        <h1 class="mtb25">Pajautā sev interesējošus jautājumus</h1>

        <p>Ja pat tev nav jautājumu, eksperts ar prieku izstāstīs par profesiju, attīstību.</p>

        <a href="order" class="button button--fill">Iegūt atbildes</a>

    </div>
</section>