$white: #fff;
$black: #000;
// $purple: rgb(145, 60, 230);
$pink: #cc005f;
$gray: #333;
$gold: #efc031;

// Website colors
// ---------------

$primary-color: $pink;
$secondary-color: $white;
$tertiary-color: $black;